<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resetoter.battleqq.mybatis.dao.PlayerInfoMapper">
  <resultMap id="BaseResultMap" type="com.resetoter.battleqq.mybatis.model.PlayerInfo">
    <id column="playerName" jdbcType="VARCHAR" property="playername" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="def" jdbcType="INTEGER" property="def" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="speed" jdbcType="INTEGER" property="speed" />
    <result column="hp" jdbcType="INTEGER" property="hp" />
    <result column="lastKiller" jdbcType="VARCHAR" property="lastkiller" />
  </resultMap>
  <sql id="Base_Column_List">
    playerName, point, def, power, speed, hp, lastKiller
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from playerinfo
    where playerName = #{playername,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from playerinfo
    where playerName = #{playername,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.resetoter.battleqq.mybatis.model.PlayerInfo">
    insert into playerinfo (playerName, point, def, 
      power, speed, hp, lastKiller
      )
    values (#{playername,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, #{def,jdbcType=INTEGER}, 
      #{power,jdbcType=INTEGER}, #{speed,jdbcType=INTEGER}, #{hp,jdbcType=INTEGER}, #{lastkiller,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.resetoter.battleqq.mybatis.model.PlayerInfo">
    insert into playerinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="playername != null">
        playerName,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="def != null">
        def,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="hp != null">
        hp,
      </if>
      <if test="lastkiller != null">
        lastKiller,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="playername != null">
        #{playername,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="def != null">
        #{def,jdbcType=INTEGER},
      </if>
      <if test="power != null">
        #{power,jdbcType=INTEGER},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="hp != null">
        #{hp,jdbcType=INTEGER},
      </if>
      <if test="lastkiller != null">
        #{lastkiller,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resetoter.battleqq.mybatis.model.PlayerInfo">
    update playerinfo
    <set>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="def != null">
        def = #{def,jdbcType=INTEGER},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=INTEGER},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="hp != null">
        hp = #{hp,jdbcType=INTEGER},
      </if>
      <if test="lastkiller != null">
        lastKiller = #{lastkiller,jdbcType=VARCHAR},
      </if>
    </set>
    where playerName = #{playername,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.PlayerInfo">
    update playerinfo
    set point = #{point,jdbcType=INTEGER},
      def = #{def,jdbcType=INTEGER},
      power = #{power,jdbcType=INTEGER},
      speed = #{speed,jdbcType=INTEGER},
      hp = #{hp,jdbcType=INTEGER},
      lastKiller = #{lastkiller,jdbcType=VARCHAR}
    where playerName = #{playername,jdbcType=VARCHAR}
  </update>
</mapper>