<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resetoter.battleqq.mybatis.dao.PlayerMapper">
  <resultMap id="BaseResultMap" type="com.resetoter.battleqq.mybatis.model.Player">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="qqnumber" jdbcType="INTEGER" property="qqnumber" />
    <result column="point" jdbcType="INTEGER" property="point" />
  </resultMap>
  <sql id="Base_Column_List">
    id, qqnumber, point
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.PlayerKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from playerinfo
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.PlayerKey">
    delete from playerinfo
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    insert into playerinfo (id, qqnumber, point
      )
    values (#{id,jdbcType=INTEGER}, #{qqnumber,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    insert into playerinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="qqnumber != null">
        qqnumber,
      </if>
      <if test="point != null">
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qqnumber != null">
        #{qqnumber,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    update playerinfo
    <set>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    update playerinfo
    set point = #{point,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.resetoter.battleqq.mybatis.model.Player">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="qqnumber" jdbcType="INTEGER" property="qqnumber" />
    <result column="point" jdbcType="INTEGER" property="point" />
  </resultMap>
  <sql id="Base_Column_List">
    id, qqnumber, point
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.PlayerKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from playerinfo
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.PlayerKey">
    delete from playerinfo
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    insert into playerinfo (id, qqnumber, point
      )
    values (#{id,jdbcType=INTEGER}, #{qqnumber,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    insert into playerinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="qqnumber != null">
        qqnumber,
      </if>
      <if test="point != null">
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qqnumber != null">
        #{qqnumber,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    update playerinfo
    <set>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resetoter.battleqq.mybatis.model.Player">
    update playerinfo
    set point = #{point,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
      and qqnumber = #{qqnumber,jdbcType=INTEGER}
  </update>
</mapper>